/*background color para el body*/
.body-color {
    background-color: map-get($colors , primary);
}
/*Color para contenedores*/
.div-bg-color {
    background-color: map-get($colors , secondary);
}
/*Tabla*/
.table {
    font-size: 13px;
    @media screen and (min-width: 576px) {
        font-size: 16px;
    }
    @media screen and (min-width: 992px) {
        font-size: 18px;
    }
    thead tr {
        /*Color para el header de las tablas*/
        color: white;
        background-color: map-get($colors , primary );
    }
}

/*Clase para ajustar imagenes*/
.fit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*FOOTER*/
footer p{
    font-size: 14px;
}