/*background color para el body*/
.body-color {
    background-color: map-get($colors , primary);
}
/*Color para contenedores*/
.div-bg-color {
    background-color: map-get($colors , secondary);
}
/*Color para el header de las tablas*/
.table thead tr {
    color: white;
    background-color: map-get($colors , primary );
}
/*Clase para ajustar imagenes*/
.fit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*FOOTER*/
footer p{
    font-size: 14px;
}