/*Inputs*/
.form-control {
    border-color: gray;
    &:focus {
        @include focused-active-bg-and-borders;
    }
}
/*Selects*/
.form-select {
    @extend .form-control;
}
/*Checkbox*/
.form-check-input {
    @extend .form-control;
    transition-duration: 0.15s;
    &:checked {
        background-color: map-get($colors , highlight );
        border-color: map-get($colors , highlight );
    }

}
/*Clase para botones*/
.button {
    color: white;
    background-color: map-get($colors , primary );
    border: none;
    &:hover{
        color: white;
        background-color: map-get($colors , highlight );
    }
    &:focus, &:active {
        @include focused-active-bg-and-borders;
    }
}
