
.navbar-toggler {
    box-shadow: none;
    &:focus, &:active {
        @include focused-active-bg-and-borders;
    }
}
@media screen and (min-width: 992px) {
    .navbar-nav .nav-item .nav-link{
        border-left: 2px solid rgb(24, 24, 24);
        &:hover, &:focus {
            border-left: 2px solid $highlight;
        }
    }
}
.navbar-nav .nav-item .nav-link{
    color: rgb(24, 24, 24);
    font-weight: bold;
    &:hover, &:focus {
        color: $highlight;
    }
}