/*HERO SECTION*/
.hero-section{
    video {
        filter: brightness(50%);
        width: 100%;
    }
    h1 {
        @media screen and (min-width: 576px) {
            font-size: 50px;
        }
        @media screen and (min-width: 992px) {
            font-size: 80px;
        }
        z-index: 1;
        position: absolute;
    }
}
