/*Clase para titulos con lineas a los costados*/
.title-with-sidelines-both {
    @include centerXY;
    margin-bottom: 10px;
    text-align: center;
    color: $highlight;
    font-weight: bold;
    &:before, &:after {
        display: inline-block;
        content: "";
        height: 2px;
        background-color: $highlight;
        width: 50%;
    }
    &:before {
        margin-right: 10px;
    }
    &:after {
        margin-left: 10px;
    }
}