$colors: (
    primary: #2C1214,//Usado en el background del body y en el header de la tabla
    secondary: #f0e4de,//Usado en el background de los contenedores
    tertiary: white, //Usado en el header
    highlight: #6d635f,//Usado para titulos y al hacer hover/focus en los links del header
    highlight-border: #6d635fb4,//Usado para resaltar bordes de inputs/botones/selects
);
