* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
/*background color para el body*/
.body-color {
    background-color: #13292A;
}
/*Color para contenedores*/
.div-bg-color {
    background-color: #E7DED9;
}


/*HEADER*/
.navbar-toggler {
    box-shadow: none;
}
.navbar-toggler:focus {
    border-color: gray;
    box-shadow: 0 0 0 .2rem #9887809c;
}
.navbar-toggler:active {
    border-color: gray;
    box-shadow: 0 0 0 .2rem #9887809c;
}
@media screen and (min-width: 992px) {
    .navbar-nav .nav-item .nav-link{
        border-left: 2px solid rgb(24, 24, 24);
    }
    .navbar-nav .nav-item .nav-link:hover{
        border-left: 2px solid #988780;
    }
    .navbar-nav .nav-item .nav-link:focus{
        border-left: 2px solid #988780;
    }     
}
.navbar-nav .nav-item .nav-link{
    color: rgb(24, 24, 24);
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #988780;
}
.navbar-nav .nav-item .nav-link:focus{
    color: #988780;
} 
/*TABLE HEADER*/
.table thead tr {
    color: white;
    background-color: #13292A;
}
/*FORMULARIO*/
/*INPUT*/
.form-control {
    border-color: gray;
}
.form-control:focus {
    border-color: gray;
    box-shadow: 0 0 0 .2rem #9887809c;
}
.form-select {
    border-color: gray;
}
.form-select:focus {
    border-color: gray;
    box-shadow: 0 0 0 .2rem #9887809c;
}
.form-check-input {
    border-color: gray;
    transition-duration: 0.15s;
}
.form-check-input:focus {
    border-color: gray;
    box-shadow: 0 0 0 .2rem #9887809c;
}


/*BOTON*/
.button {
    color: white;
    background-color: #13292A;
    border: none;
}
.button:hover{
    color: white;
    background-color: #988780;
}
.button:focus {
    background-color: #988780;
    box-shadow: 0 0 0 .2rem #9887809c;
}
.button:active {
    background-color: #988780;
    box-shadow: 0 0 0 .2rem #9887809c;
}


/*HEADER LOGO*/
.logo-img {
    height:inherit;
    width: auto;
}

/*HERO SECTION*/
.hero-section video{
    filter: brightness(50%);
    width: 100%;
}

.hero-section h1 {
    z-index: 1;
    position: absolute;
}

/*IMAGES*/
.fit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*TITLE WITH SIDELINES*/
.title-with-sidelines-both {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #988780;
    font-weight: bold;
}
.title-with-sidelines-both:before,.title-with-sidelines-both:after {
    display: inline-block;
    content: "";
    height: 2px;
    background-color: #988780;
    width: 50%;
}
.title-with-sidelines-both:before {
    margin-right: 10px;
}
.title-with-sidelines-both:after {
    margin-left: 10px;
}
/*FOOTER*/
footer p{
    font-size: 14px;
}